@import '~bootstrap/scss/bootstrap';
@import './scss/sb-admin-2.scss';
.cursor-pointer {
  cursor: pointer;
}
body {
  min-height: 100vh;
}

a:hover {
  text-decoration: none;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div[class*='col-'],
.col,
.container,
.container-fluid {
  padding-left: 8px;
  padding-right: 8px;
}
.row {
  margin-left: -8px;
  margin-right: -8px;
}
footer.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
  text-align: center;
  background-color: #343a40;
  color: #fff;
}
.card-body {
  padding: 10px;
}
.card-text {
  margin-bottom: 8px;
}
.price {
  font-weight: 600;
}
.onsale {
  position: absolute;
  right: 0px;
  width: 50px;
  height: 20px;
  font-size: 12px;
  color: white;
  background-color: green;
  text-align: center;
}
// product details

// mini-cart
.mini-cart {
  position: relative;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  span {
    position: absolute;
    font-size: 14px;
    padding: 0px 5px;
    top: -5px;
    right: -5px;
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    color: #333;
  }
}
.tableCart {
  .imgCart {
    width: 100px;
  }
}
