@import '~bootstrap/scss/bootstrap';

body {
  min-height: 100vh;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div[class*='col'],
.container,
.container-fluid {
  padding-left: 8px;
  padding-right: 8px;
}
.row {
  margin-left: -8px;
  margin-right: -8px;
}
footer.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
  text-align: center;
  background-color: #343a40;
  color: #fff;
}
.card-body {
  padding: 10px;
}
.card-text {
  margin-bottom: 8px;
}
.price {
  font-weight: 600;
}
.onsale {
  position: absolute;
  right: 0px;
  width: 50px;
  height: 20px;
  font-size: 12px;
  color: white;
  background-color: green;
  text-align: center;
}
// product details
